<%= render "shared/navbar" %>
<div class="container-fluid">

  <% if @author.errors.any?%>
  <% @author.errors.full_messages.each do |error|%>
  <p class = "text-danger">
    <%= error %>
  </p>
  <% end %>
  <% end %>

  <h2 class="text-center">Add Author Here:</h2>
 <%= simple_form_for(@author, :html => { :class => "form-inline" }) do |f|%>
<div class = row>
<div class="col-md-2 col-md-offset-2">
  <%= f.input :first_name %>
  </div>
  <div class = "col-md-1"></div>
    <div class="col-md-2">
  <%= f.input :last_name %>
  </div>
  <div class = "col-md-1"></div>
    <div class="col-md-2">
  <%= f.input :age %>
  </div>
  </div>

  <br>
  <div class ="row">
  <div class = "col-md-3 col-md-offset-5">
  <%= f.submit "Edit Author", class: 'btn btn-primary' %>
  <% end %>
  </div>
  </div>
</div>
