<div class="container-fluid">

  <% if @author.errors.any?%>
  <% @author.errors.full_messages.each do |error|%>
  <p class = "text-danger">
    <%= error %>
  </p>
  <% end %>
  <% end %>
  <br>
  <h2 class ="text-center">Add Author Here:</h2>
  <br>

<%= form_for(@author, :html => { :class => "form-horizontal" }) do |f|%>
<div class = row>
<div class="col-md-3 col-md-offset-2">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br />
</div>
  <div class="col-md-3">
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br />
  </div>
 <div class="col-md-3">
  <%= f.label :age %>
  <%= f.text_field :age%><br />
  </div>
  </div>
  <br>
  <div class ="row">
  <div class = "col-md-3 col-md-offset-2">
  <%=  link_to('Back to Authors', root_path, {class: "btn btn-success"}) %>
  </div>
  <div class ="col-md-3">
  <%= f.submit "Add Author", class: 'btn btn-success' %>
  </div>
  </div>
  <% end %>
</div>



