<div class="container-fluid">

  <% if @post.errors.any?%>
  <% @post.errors.full_messages.each do |post|%>
  <p class = "text-danger">
    <%= error %>
  </p>
  <% end %>
  <% end %>

  <h2>Edit Post Here:</h2>

  <%= form_for(@post, :html => { :class => "form-horizontal" }) do |f|%>
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  
  <%= f.label :category %>
  <%= f.text_field :category %><br />

  <%= f.label :body %>
  <%= f.text_field :body%><br />

  <br>
  <%= f.submit "Edit Post", class: 'btn btn-success' %>
  <br><br>
  <%=  link_to('Back to Posts',author_posts_path(@author) , {class: "btn btn-success"}) %>
  <% end %>
</div>
