<div class="container-fluid">

  <h2 class ="text-center">Add Blog Post Here:</h2>
  <br>

<%= simple_form_for([@author,@post], :html => { :class => "form-horizontal" }) do |f|%>
<div class = row>
<div class="col-md-4">
  <%= f.input :title %>
<br>
</div>
  <div class="col-md-4">
  <%= f.input :category %>
<br>
  </div>
 <div class="col-md-4">
  <%= f.input :body %>
<br>
  </div>
  </div>
  <br>
  <div class ="row">
  <div class = "col-md-3 col-md-offset-2">
  <%=  link_to('Back to Author', root_path, {class: "btn btn-success"}) %>
  </div>
  <div class ="col-md-3">
  <%= f.submit "Add Post", class: 'btn btn-success' %>
  </div>
  </div>
  <% end %>
</div>

