<%= render "shared/navbar" %>
<div class="container-fluid">

  <h2 class ="text-center">Add Blog Post Here:</h2>
  <br>

<%= simple_form_for([@author,@post], :html => { :class => "form-inline"}) do |f|%>
<div class = row>
<div class="col-md-2 col-md-offset-2">
  <%= f.input :title, error_html: { id: 'error'}%>
<br>
</div>
<div class = "col-md-1"></div>
  <div class="col-md-2">
  <%= f.input :category, error_html: { id: 'error'} %>
<br>
  </div>
  <div class = "col-md-1"></div>
 <div class=" col-md-2">
  <%= f.input :body, error_html: { id: 'error'} %>
<br>
  </div>
  </div>
  <br>
  <div class ="row">
  <div class = "col-md-2 col-md-offset-2">
  <%=  link_to('Back to Author', author_posts_path(@author), {class: "btn btn-primary"}) %>
  </div>
  <div class ="col-md-3 col-md-offset-1">
  <%= f.submit "Add Post", class: 'btn btn-primary' %>
  </div>
  </div>
  <% end %>
</div>

